/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ae0d41;
  --ifm-color-primary-dark: #9d0c3a;
  --ifm-color-primary-darker: #940b37;
  --ifm-color-primary-darkest: #7a092d;
  --ifm-color-primary-light: #bf0e47;
  --ifm-color-primary-lighter: #c80f4b;
  --ifm-color-primary-lightest: #e21154;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #63b4f2;
  --ifm-color-primary-dark: #44a5ef;
  --ifm-color-primary-darker: #349dee;
  --ifm-color-primary-darkest: #1285dc;
  --ifm-color-primary-light: #82c3f5;
  --ifm-color-primary-lighter: #92cbf6;
  --ifm-color-primary-lightest: #c1e1fa;
}
